{% extends "base.html" %}
{% block title %}About the Team | STORM{% endblock title%}
{% block content %}

    <br />
    <br />
    <br />
    <center>

    <div class="row">
    <!--
    <div class="col-md-4"><a href="http://twitter.com/chanlykaye95"><img src="http://i.imgur.com/fAAtsFj.jpg"/></a></div>
    <div class="col-md-4"><a href="http://twitter.com/itsedwrd"><img src="http://i.imgur.com/QKN7jX2.jpg"/></a></div>
    <div class="col-md-4"><a href="http://twitter.com/njncalub"><img src="http://i.imgur.com/7LcWwlZ.jpg"/></a></div>
    </div>
    -->

    <a href="http://twitter.com/chanlykaye95"><img src="http://i.imgur.com/fAAtsFj.jpg" alt="Chanly Kaye Basa" /></a>
    <a href="http://twitter.com/itsedwrd"><img src="http://i.imgur.com/QKN7jX2.jpg" alt="Edward Louis Forteza" /></a>
    <a href="http://twitter.com/njncalub"><img src="http://i.imgur.com/7LcWwlZ.jpg" alt="Nap Joseph Calub" /></a>
    </div>

    <br />
    <br />
    <br />
    
    <div class="row">
    <p>The STORM web app is made possible by Friends Without Ipong (a wordplay on an overused team name, <i>Ipong and Friends</i>).</p>
    </div>

    </center>
    <br />
    <br />
    <br />
{% endblock content %}