{% extends "base.html" %}
{% block title %}About STORM | STORM{% endblock title%}
{% block content %}

<br />

<center><img src="http://newsinfo.inquirer.net/files/2013/11/yolanda-tacloban.jpg" alt="(c)2013 Inquirer Group" /></center>

<br />
<br />

<p>The Strategic Tactics, Operations, Retrieval, and Management (or STORM) is a web app made possible by 'Friends Without Ipong'. It's main functions include, (1) improved body retrieval (2) using crowdsourced data from SMS, and the (3) notification of relief goods drop-off points.</p>
<p>The web app was concieved during the #AngelHackDVO event on 23-24 November 2013 as a way to assist areas ravaged by Typhoon Haiyan and in the imminent future. This web app could not have been made without the help of the SMART Developer Network and Opera, with special thanks to Developers Connect (DevCon), HERE, Microsoft, Ideaspace, Paymentwall, and many more.
</p>
{% endblock content %}