{% extends "base.html" %}
{% block title %} Retrieval Operations | STORM {% endblock title %}
{% block otherblock %}
<meta http-equiv="X-UA-Compatible" content="IE=7; IE=EmulateIE9; IE=10" />
        <!--<base href="http://developer.here.com/apiexplorer/examples/api-for-js/markers/styled-marker.html" />-->
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Customize the style of a marker"/>
        <meta name="keywords" content="standardmarkerprops, map objects, markers"/>
        <!-- For scaling content for mobile devices, setting the viewport to the width of the device-->
        <meta name=viewport content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <!-- Styling for example container (NoteContainer & Logger)  -->
        <link rel="stylesheet" type="text/css" href="http://developer.here.com/apiexplorer/examples/templates/js/exampleHelpers.css"/>
        <!-- By default we add ?with=all to load every package available, it's better to change this parameter to your use case. Options ?with=maps|positioning|places|placesdata|directions|datarendering|all -->
        <script type="text/javascript" charset="UTF-8" src="http://js.cit.api.here.com/se/2.5.3/jsl.js?with=all"></script>
        <!-- JavaScript for example container (NoteContainer & Logger)  -->
        <script type="text/javascript" charset="UTF-8" src="http://developer.here.com/apiexplorer/examples/templates/js/exampleHelpers.js"></script>
        <style type="text/css">
            html {
                overflow:hidden;
            }
            
            body {
                margin: 0;
                padding: 0;
                overflow: hidden;
                width: 100%;
                height: 100%;
                position: absolute;
            }
            
            #mapContainer {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
            }
        </style>
{% endblock otherblock %}
{% block content %}
<div id="mapContainer"></div>
        <div id="uiContainer"></div>
        <script type="text/javascript" id="exampleJsSource">
/*  Setup authentication app_id and app_code 
*   WARNING: this is a demo-only key
*   please register for an Evaluation, Base or Commercial key for use in your app.
*   Just visit http://developer.here.com/get-started for more details. Thank you!
*/
nokia.Settings.set("app_id", "nAfbi4Y91J7kNW9BtlrA"); 
nokia.Settings.set("app_code", "E_Zr_J75eIBOUtMQOueIag");
// Use staging environment (remove the line for production environment)
nokia.Settings.set("serviceMode", "cit");

// Get the DOM node to which we will append the map
var mapContainer = document.getElementById("mapContainer");
// Create a map inside the map container DOM node
var map = new nokia.maps.map.Display(mapContainer, {
    // Initial center and zoom level of the map
    center: [11.33, 123.01],
    zoomLevel: 7,
    // We add the behavior component to allow panning / zooming of the map
    components:[new nokia.maps.map.component.Behavior()]
});

// Create several StandardMarkers with the properties object defined above and placed around the map center


{% for dead_body in dead_bodies %}

// var custom_tooltip = '<div>' +
//        '<h2>Tooltip with HTML content</h2>' +
//        '<img width=120 height=90 src="/media/' + {{ dead_body.image }} + '" alt=""/><br/></div>';

var center = new nokia.maps.geo.Coordinate({{ dead_body.nlat }}, {{ dead_body.nlong }});
//var marker = new nokia.maps.map.StandardMarker(center);
//var marker = new nokia.maps.map.StandardMarker(center, {$tooltip : custom_tooltip});
var marker = new nokia.maps.map.StandardMarker(center, {$tooltip : "{{ dead_body.gender }}" });
map.objects.add(marker);

{% endfor %}


</script>
{% endblock content %}