<!DOCTYPE html>

<html lang="en">

<head>
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block otherblock %}
    {% endblock otherblock %}

    <style>
      #header { background-color: #111; z-index: 9999; }
      .navbar-nav >  li > a { padding-top: 20px; }
    </style>

    {% block extracss %}
    {% endblock extracss %}

    {% block extrajstop %}
    {% endblock extrajstop %}
</head>
<body>
    <nav id="header" class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index/"><img src="http://i.imgur.com/reym4eR.png" /></a>

          </div>
        
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/about/storm/">STORM</a></li>
                  <li class="divider"></li>
                  <li><a href="/about/team/">The Team</a></li>
                </ul>
              </li>
              <li><a href="/report/">Report Incedent</a></li>
              <li><a href="/retrieve/">Retrieval Operations</a></li>
              <li><a href="/relief/">Center Finder</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Login</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>

    <div class="container">
        {% block content %}
        
        {% endblock content %}
    </div> <!--container-->

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    {% block extrajsbottom %}
    {% endblock extrajsbottom %}
</body>
</html>