{% extends "base.html" %}
{% block title %}STORM | The STRATEGIC TACTICS, OPERATIONS, RETRIEVAL, and MANAGEMENT app.{% endblock title %}
{% block content %}
<center>
<!--<div class="site-header"><p><img src="http://i.imgur.com/wbXuDBo.png" /></p></div>
<p><b>The STRATEGIC TACTICS, OPERATIONS, RETRIEVAL, and MANAGEMENT webapp.</b></p>-->
</center>

    <br />
    <br />
    <br />
    
    <div class="row">
        <!--
      <div class="col-md-4"><center><img src="{{ STATIC_URL }}img/options/report.png"/></center></div>
      <div class="col-md-4"><center><img src="{{ STATIC_URL }}img/options/retrieve.png"/></center></div>
      <div class="col-md-4"><center><img src="{{ STATIC_URL }}img/options/relief.png"/></center></div>
        -->
      <div class="col-md-4"><center><a href="/report/"><img src="http://i.imgur.com/xfeoUSs.png"/></a></center></div>
      <div class="col-md-4"><center><a href="/retrieve/"><img src="http://i.imgur.com/yoY8fDE.png"/></a></center></div>
      <div class="col-md-4"><center><a href="/relief/"><img src="http://i.imgur.com/gf1cuPb.png"/></a></center></div>


    </div>
{% endblock content %}