{% extends "base.html" %}
{% block title %} Home {% endblock title %}

{% block content %}
<center>
<div class="site-header"><p><img src="img/storm_header.png" /></p></div>
<p><b>The STRATEGIC TACTICS, OPERATIONS, RETRIEVAL, and MANAGEMENT webapp.</b></p>
</center>

    
    <br />
    <br />
    <br />
    
    <div class="row">
      <div class="col-md-4"><center><img src="img/options/report.png" /></center></div>
      <div class="col-md-4"><center><img src="img/options/retrieve.png" /></center></div>
      <div class="col-md-4"><center><img src="img/options/relief.png" /></center></div>
    </div>
{% endblock content %}